.dialog-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dialog {
  background-color: #fff;
  max-height: 500px;
  max-width: 350px;
}
.dialog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ddd;
}
.dialog__header-title-container {
  width: 65%;
}
.dialog__header-title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dialog__header-button {
  width: 100%;
  padding: 0;
}
.dialog__content {
  height: 320px;
  overflow-y: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}
.dialog__content-block_left {
  width: 30%;
  border-right: 1px solid #ccc;
  height: 500px;
}
.dialog__content-block_right {
  width: 70%;
}
.dialog__footer {
  background-color: #ddd;
  text-align: center;
  overflow-wrap: break-word;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  width: 100%;
}